<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="styles.css" media="screen"/>
</head>

<body>
    <div id="app">
        <!-- Conditionally rendering elements -->
        <p v-if="itemsInStock > 10">{{ itemsInStock  }} in stock.</p>
        <p v-else-if="itemsInStock > 0">Hurry up, there are just a few items left</p>
        <p v-else>Too bad, we're all out</p>
        <template v-if="itemsInStock > 50">
            <p>Special Offer!</p>
            <p>Looks like we have tons of products in stock... Save 20% if you offer now!</p>
        </template>
        <!-- Showing and Hiding elements -->
        <p v-show="isNinja">Invisible like a ninja!</p>
        <p v-show="!isNinja">Here I am!</p>
        <button v-on:click="isNinja = !isNinja">Toggle Ninja Skills</button>
        <!-- Hiding elements untill the Vue instance is ready -->
        <h1>V-cloak example</h1>
        <h1 v-cloak>{{ message }}</h1>
    </div>
</body>
<script src="vue.js"></script>
<script type="text/javascript">
setTimeout(() => {
    new Vue({
        el: "#app",
        data: {
            itemsInStock: 51,
            isNinja: true,
            message: 'Hello World'
        },

    });
}, (5000));

</script>

</html>