<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="styles.css" media="screen" />
</head>

<body>
    <div id="app">
        <!-- Conditionally rendering elements -->
        <p v-if="itemsInStock > 10">{{ itemsInStock  }} in stock.</p>
        <p v-else-if="itemsInStock > 0">Hurry up, there are just a few items left</p>
        <p v-else>Too bad, we're all out</p>
        <template v-if="itemsInStock > 50">
            <p>Special Offer!</p>
            <p>Looks like we have tons of products in stock... Save 20% if you offer now!</p>
        </template>
        <!-- Showing and Hiding elements -->
        <p v-show="isNinja">Invisible like a ninja!</p>
        <p v-show="!isNinja">Here I am!</p>
        <button v-on:click="isNinja = !isNinja">Toggle Ninja Skills</button>
        <!-- Hiding elements untill the Vue instance is ready -->
        <h1>V-cloak example</h1>
        <h1 v-cloak>{{ message }}</h1>
        <h1>Movies</h1>
        <!-- Looping through array -->
        <ui>
            <li v-for="title in movieTitles">{{title}}</li>
        </ui>
        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Company</th>
                    <th>Index</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(employee, index) in employees">
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.title }}</td>
                    <td>{{ companyName }}</td>
                    <td>{{ index }}</td>
                </tr>
            </tbody>
        </table>
        <!-- Looping through object properties -->
        <ui>
            <li v-for="(value, propertyName, index) in person">
              {{propertyName}}:  {{ value }} ({{ index }})
            </li>
        </ui>
        <!-- looping through number ranges -->
        <ul>
            <li v-for="(n, index) in 10">
                {{ n }} * {{ index }} = {{n * index}}
            </li>
        </ul>
        <!-- v-for update statege  -->
        <ui>
            <li v-for="p in persons" v-bind:key="p.id">
                {{  p.name }} (ID: {{p.id }})
                <input type="text">
            </li>
        </ui>
        <button v-on:click="addNewPerson()">Add Person</button>
        <button v-on:click="shuffle()">Shuffle</button>
        <!-- Array change detection -->
        <ui>
            <li v-for="n in numbers">{{ n }}</li>
        </ui>
        <button v-on:click="changeNumber">Change Number</button>
        <br><br>
        <!-- exercies -->
        <input type="password" placeholder="Enter your name" v-model="password">
        <p v-if="password.length > 8">Awesome! Your password is longer than 8 characters</p>
        <p v-else-if=" password.length > 0">Please enter a longer password</p>
        <p v-else>Please enter a password</p>
        <!-- <ol>
            <li v-for="category in categories">
                {{ category.name }}
                <ui>
                    <li v-for="sub in category.sub">{{ sub }}</li>
                </ui>
            </li>
        </ol> -->
    </div>
</body>
<script src="vue.js"></script>
<script type="text/javascript">
    // setTimeout(() => {
    //     new Vue({
    //         el: "#app",
    //         data: {
    //             itemsInStock: 51,
    //             isNinja: true,
    //             message: 'Hello World'
    //         },
    //     });
    // }, (5000));
    new Vue({
        el: '#app',
        data: {
            movieTitles: ['The matrix', 'The matrix: Reloaded', 'The matrix Revolution'],
            employees: [
                { name: 'Abby', title: 'Accountant' },
                { name: 'Andy', title: 'Marketing Manager' },
                { name: 'Brandon', title: 'Vue.js Expert' },
            ],
            companyName: 'VueX Ltd',
            person: {
                firstName: 'Champion',
                lastName: 'DEv',
                age: 27
            },
            persons: [
                {id:1, name: 'Andy'},
                {id:2, name: 'Abby'},
                {id:3, name: 'teresa'},
            ],
            password: '',
            numbers: [1, 2, 3, 4, 5],
            categories: [
                {name: 'JavaScript', sub: ['Vue.js', 'React', 'Angular2']},
                {name: 'Database', sub: ['MySQL', 'PostgreSQL', 'MariaDB']},
                {name: 'OS', sub: ['macOS', 'linux', 'Windows']},
            ]
        },
        methods: {
            addNewPerson: function() {
                var highestId = Math.max.apply(Math, this.persons.map(function(p) {
                    return p.id;
                }));
                var names = ['Billy', 'Michael', 'Steve', 'Diane', 'Perter'];
                this.persons.push({
                    id: highestId + 1,
                    name: names[Math.floor(Math.random() * names.length)]
                });
            },
            shuffle: function() {
                this.persons = this.shuffleArray(this.persons);
            },
            shuffleArray: function(arr) {
                var newArr = arr.slice();
                for (var i = newArr.length - 1; i > 0; i-- ) {
                    var j = Math.floor(Math.random() * (i + 1));
                    var temp = newArr[i];
                    newArr[i] = newArr[j];
                    newArr[j] = temp;
                }
                return newArr;
            },
            changeNumber: function() {
                Vue.set(this.numbers, 1, 10);
                alert(this.numbers[1]);
            }
        }
    })

</script>

</html>