<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- <link rel="stylesheet" type="text/css" href="styles.css" media="screen" /> -->
</head>

<body>
    <div id="app">
        <!-- computed properties -->
        <p>{{ counter }}</p>
        <p>{{ fullName }}</p>
        <button v-on:click="counter++">Increase Counter</button>
        <button v-on:click="changeName">Change Name</button>
        <button v-on:click="changeNameSetter">Change name (setter)</button>
        <!-- watchers -->
        <br><br>
        <input type="text" v-model="searchQuery">

        <p v-if="isSearching">Searching...</p>
        <div>
            <ol>
                <li v-for="result in results">{{ result }}</li>
            </ol>
        </div>
        <!-- exercise -->
        <ol>
            <li v-for="movie in formattedMovies">{{ movie }}</li>
        </ol>
        <button v-on:click="addMovie">Add Movie</button>
        <!-- filter -->
        <h1>{{ message | uppercase(true)}}</h1>
        <!-- exercise -->
        <p v-bind:title="message | uwfirst">{{ message }}</p>
        <p>{{ message | uwfirst | removeSpaces }}</p>
        <div style="width: 200px; height: 200px;" v-bind:style="{ 'background-color': color }"></div>
        <button v-on:click="changeColor">Change Color</button>
        <div v-bind:style="[styles, moreStyles]"></div>
    </div>
</body>
<script src="vue.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            counter: 1,
            firstName: 'Champion',
            lastName: 'Dev',
            searchQuery: '',
            results: [],
            isSearching: false,
            movies: [
                { name: 'The matrix', year: 1999 },
                { name: 'The matrix Reloaded', year: 2003 },
                { name: 'The matrix Revolution', year: 2019 },
            ],
            message: 'hello world',
            color: 'blue',
            moreStyles: {
                'border-radius': '6px'
            }
        },
        filters: {
            uppercase: function (value, onlyFirstCharacter) {
                if (!value) {
                    return '';
                }
                value = value.toString();
                if (onlyFirstCharacter) {
                    return value.charAt(0).toUpperCase() + value.slice(1);
                } else {
                    return value.toUpperCase();
                }
            },
            uwfirst: function(value) {
                if(!value) {
                    return '';
                }
                var parts = value.toString().split(' ');
                var uppercaseWords =  parts.map(function(word){
                    return word.charAt(0).toUpperCase() + word.slice(1);
                });
                return uppercaseWords.join(' ');
            },
            removeSpaces: function(value) {
                if (!value) {
                    return '';
                }
                return value.toString().replace(/ /g, '');

            }

        },
        watch: {
            searchQuery: function (query) {
                this.isSearching = true;
                var vm = this;
                setTimeout(() => {
                    vm.results = ['JavaScript', 'PHP', 'MySQL']
                    this.isSearching = false;
                }, 500);
            },
            movies: function (movies) {
                var newMovie = movies[movies.length - 1];
                alert(newMovie.name + ' from' + newMovie.year + 'was just added');
            }
        },
        methods: {
            changeName: function () {
                this.firstName = 'Mark';
                this.lastName = " Gonzales";
            },
            changeNameSetter: function () {
                this.fullName = 'Mark gonzales'
            },
            addMovie: function () {
                this.movies.push({
                    name: 'The Fast',
                    year: 2001
                })
            },
            changeColor: function() {
                if (this.color == 'blue') {
                    this.color = 'red';
                } else {
                    this.color = 'blue';
                }
            }
        },
        computed: {
            fullName: {
                get: function () {
                    // alert("Assembling full name");
                    return this.firstName + ' ' + this.lastName;
                },
                set: function () {
                    alert("Setting new name :" + newValue);
                    var parts = newValue.split(' ');
                    this.firstName = parts[0];
                    this.lastName = parts[parts.length - 1];
                }
            },
            formattedMovies: function () {
                return this.movies.map(function (movie) {
                    return movie.name + '(' + movie.year + ')';
                });
            },
            styles: function() {
                var height =  200;

                return {
                    'background-color': 'blue',
                    width: (height / 2)+ 'px',
                    height: height + 'px'
                }
            }
        }
    });
</script>

</html>